.selecttext{
    color:#286b4c;
    border: #62B58E;
    /* background-color: #bbfaea; */
}
.text{
    color:white;
}
.period{
    cursor: pointer;
}
.title{
    color:#b562a1;
}
.company{
    color: #62B58E;
}
.description{
    color:white;
}
